<p>dinolist works!</p>
<table mat-table [dataSource]="list">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let dino"> {{dino.name}} </td>
  </ng-container>
  <ng-container matColumnDef="species">
    <th mat-header-cell *matHeaderCellDef> Species </th>
    <td mat-cell *matCellDef="let dino"> {{dino.species}} </td>
  </ng-container>
  <ng-container matColumnDef="base_level">
    <th mat-header-cell *matHeaderCellDef> Base Level </th>
    <td mat-cell *matCellDef="let dino"> {{dino.base_level}} </td>
  </ng-container>
  <ng-container matColumnDef="base_healthpoints">
    <th mat-header-cell *matHeaderCellDef> Base Health Points </th>
    <td mat-cell *matCellDef="let dino"> {{dino.base_healthpoints}} </td>
  </ng-container>
  <ng-container matColumnDef="base_melee">
    <th mat-header-cell *matHeaderCellDef> Base Melee </th>
    <td mat-cell *matCellDef="let dino"> {{dino.base_melee}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
